PYMYSQL_HOST			= "localhost"
PYMYSQL_USER			= "root"
PYMYSQL_PASSWORD		= ""
PYMYSQL_DATABASE		= "db_karyawan"
CSRF_ENABLED			= True
CSRF_SESSION_KEY		= 'tCNArSbdkJHLaFMCskBuFX2s9dMGc2rV'
SECRET_KEY				= '26zGV3nJPzN9S42Jy8CsMNg3hhbGAWPxWgCe4X8bSUxFgeD8Lam9ERE9hhmhzQtY'
DEFAULT_LOCALE			= 'id'
DEFAULT_TIMEZONE		= 'Asia/Jakarta'
PREFERRED_URL_SCHEME	= 'http'
