{% extends "box.html" %}
{% block body %}
<div id="layoutAuthentication">
	<div id="layoutAuthentication_content">
		<main>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-5">
						<div class="card border-0 rounded-lg mt-4">
							<div class="card-header bg-primary border-primary border-primary border-bottom-0">
								<h5 class="text-center font-weight-light my-2 text-white">Masuk</h5>
							</div>
							<div class="card-body border border-top-0">
								{% include "flash.html" %}
								<form method="POST">
									<div class="form-group">
										<label class="small mb-1" for="inputEmailAddress">Email</label>
										<input class="form-control py-3" id="inputEmailAddress" type="email" name="email" placeholder="Masukan alamat email" />
									</div>
									<div class="form-group">
										<label class="small mb-1" for="inputPassword">Password</label>
										<input class="form-control py-3" id="inputPassword" type="password" name="password" placeholder="Masukan password" />
									</div>
									<div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
										<button class="btn btn-primary" type="submit">Login</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>
{% endblock body %}